thead {
    color: var(--color-darkgrey);
    font-size: 0.9em
}

table, th, td {
    position: relative;
    padding: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th, td {
    text-align: start;
}

th.status,
th.priority {
    text-align: center;
}

td.donation-name {
    word-wrap: break-word;
    max-width: 200px;
}

td:not(.donation-name) {
    white-space: nowrap;
}

tbody tr {
    transition: var(--transition);
}

tbody tr:hover {
    background-color: rgb(215, 215, 215);
    cursor: pointer;
}

