* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-primary: #375655;
  --color-variant: #74aaaa;
  --color-variant1: #fff;
  --color-darkgrey: rgb(103, 103, 103);

  --transition: all 400ms ease;
}

a {
  color: var(--color-variant1);
  transition: var(--transition);
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  color: var(--color-darkgrey);
}

.btn {
  width: max-content;
  color: var(--color-primary);
  display: inline-block;
  padding: 0.5em 1.7em;
  border-radius: 0.5em;
  cursor: pointer;
  border: 2px solid transparent;
  transition: var(--transition);
  background: var(--color-variant1);
}

.btn-main {
  background-color: var(--color-primary);
  color: var(--color-variant1);
}

.btn:hover {
  color: var(--color-variant1);
  background: var(--color-primary);
}

.btn-main:hover {
  background: var(--color-darkgrey);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f1f0f0;
}

*::-webkit-scrollbar-thumb {
  background-color: "";
  border-radius: 20px;
  border: 3px solid #f1f0f0;
}

.layout {
  display: flex;
  height: 100vh;
}

.outlet {
  position: relative;
  flex-basis: 100%;
}
